@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.navbar.is-info, .hero.is-info {
  background-color: #151E61;
}
.tabs li.is-active a {
  color: #151E61 !important;
}

.autopog {
  display: flex;
  align-items: center;
  font-size: 50px;
  font-weight: 300;
}
.autopog > img {
  height: 60px;
  margin-right: 6px;
}
