@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
section.hero {
  background-color: #151E61;
}
section.hero .title, section.hero .subtitle {
  color: #FFF;
}

.autopog {
  color: #FFF;
  font-weight: bold;
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
.autopog > img {
  margin-right: 5px;
}