@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

#notchat {
  background-color: #6441a4;
  color: white;
  width: 200px;
  height: 600px;
  position: fixed;
  left: 0;
  top: 0;
}

#chat {
  background-color: #ffffff;
  width: 600px;
  height: 600px;
  position: fixed;
  left: 200px;
  top: 0;
}

#chattext {
  position: relative;
  height: 92.5%;
  overflow-y: auto;
}


/* styles the chat scrollbar for the browsers that supports webkit */

#chattext::-webkit-scrollbar {
  width: 4px;
  border-radius: 2px;
}

#chattext::-webkit-scrollbar-thumb {
  background-color: #484849;
  border-radius: 2px;
}

#aboveinput {
  height: 90%;
}

#input {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 15%;
  min-height: 40px;
  max-height: 100px;
}

#textfield {
  position: absolute;
  height: 50%;
  width: 95%;
  left: 2.5%;
  border: solid;
  border-width: 1px;
  border-color: gray;
}

#chatButton {
  position: absolute;
  height: 30%;
  width: 15%;
  right: 2.5%;
  top: 60%;
  background-color: #6441a4;
  color: white;
  border: none;
}

/* text shit */

p {
  padding: 0px;
  margin: 7px;
}

.chatMessage {
  display: flex;
  justify-content: start;
  align-items: start;
  padding-right: 2px;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}

.chatMessage .username {
  width: 100px;
  text-align: right;
  font-weight: bold;
  padding-right: 5px;
}

.chatMessage .username.red { color: red; }
.chatMessage .username.green { color: green; }
.chatMessage .username.teal { color: #40b7b5; }
.chatMessage .username.blue { color: blue; }
.chatMessage .username.purple { color: purple; }
.chatMessage .username.yellow { color: #aa9929; }

/* hides the scrollbar for browsers that supports webkit */

body::-webkit-scrollbar {
  width: 0px;
}
